<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/1200px-Sena_Colombia_logo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/menu_pricipal.css">
    <title>Inicio</title>
</head>
<body>
         <!-- Menú principal con sub items -->
         <div class="inicio">
            <img src="../img/centro_user2.png" alt="logo" class="logo" > 
            <input type="text" placeholder="Busqueda" class="buscador">
          </div>  
      
          <nav>
              <ul>
                  <li><a href="quienes_somos.ejs">QUIENES SOMOS</a></li>
                  <li><a href="unidades_productivas.ejs">UNIDADES PRODUCTIVAS</a>
                   <ul>
                    <li><a href="#">Número 1</a></li>
                    <li><a href="#">Número 2</a></li>
                    <li><a href="#">Número 3</a></li>
                    <li><a href="#">Número 4</a></li>
                    <li><a href="#">Número 5</a></li>
                   </ul>
                  </li>
                  <li><a href="index.ejs">PRODUCTOS</a>
                      <ul>
                          <li>PRODUCTOS DISPONIBLES</li>
                      </ul>
                  </li>
                  <li><a href="#">COMPRAS</a>
                      <ul>
                          <li>COMPRAR</li>
                          <li>HISTORIAL</li>
                      </ul>
                  </li>
                  <li><a href="menu_principal.ejs">INICIO</a></li>
              </ul>
          </nav>
    
        <!-- Logos de redes sociales -->
        <a href="https://www.facebook.com/SENA"><img src="img/768px-Facebook_f_logo_(2019).svg.png" alt="" class="iconos"></a><br><br><br>
        <a href="https://www.twitter.com/SENAComunica"><img src="img/twitter-logo-3.png" alt="" class="iconos"></a><br><br><br>
        <a href="https://www.instagram.com/senacomunica/?hl=es-la"><img src="img/festivalclaca.cat-logo-instagram-png-transparent-540653.png" alt="" class="iconos"></a><br><br><br>
        <a href="https://www.youtube.com/c/SENATVColombia"><img src="img/1200px-YouTube_social_white_squircle.svg.png" alt="" class="iconos"></a>
    
    <div class="fondo">
        <img src="../img/descarga.png" alt="" class="img_central">
    </div>

   <a href="#"><div class="promo">COMPRA LOS PRODUCTOS DE MEJOR CALIDAD EN EL MERCADO ¡AQUÍ!</div></a><br><br><br><br>

   <form action="registrar-info.php" method="get">
    <fieldset>
        <legend>INGRESO DE USUARIOS</legend>
        <br>
       
        Tipo de Documento <br>
        <select name="Documento" class="input-width">
            <option value="Cédula de Ciudadania">Cédula de Ciudadania</option>
            <option value="Cédula de Extrangería">Cédula de Extrangería</option>
            <option value="Tarjeta de Identidad">Tarjeta de Identidad</option>
            <option value="Número ciego SENA">Número ciego SENA</option>
            <option value="Número Nacional de Identificación">Número Nacional de Identificación</option>
            <option value="Pasaporte">Pasaporte</option>
            <option value="PEP">PEP</option></select><br><br>
        
        Tipo de Usuario <br>
        <select name="Documento" class="input-width">
            <option value="Aprendiz">Aprendiz</option>
            <option value="Instructor">Instructor</option>
            <option value="Invitado">Invitado</option>
        </select> <br><br><br>

         <input type="text" name="nombres" placeholder="Número de Documento" class="input-width"> <br><br>
         <input type="password" name="apellidos" placeholder="Contraseña" class="input-width"><br><br>
        <a href="#"><p>¿Olvidó su contraseña?</p></a><br>
        <a href="#"><p>Registrarse</p></a><br>
        <button type="submit">Iniciar Sesión</button><br><br>
    </fieldset>
</form>




    <footer>
        <img src="../img/1200px-Sena_Colombia_logo.svg.png" alt="" class="logo_sena">
       
        <div class="ensayo2">
            <p class="col-1">©Copyright</p><br>
            <p>YEINERY DANIELA MACHADO SOTELO</p><br>
            <p>2021</p>
        </div>
    </footer>
</body>
</html>