<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/1200px-Sena_Colombia_logo.svg.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/unidades_productivas.css">
    <title>Unidades Productivas</title>
</head>
<body>
     <!-- Menú principal con sub items -->
     <div class="inicio">
        <img src="../img/centro_user2.png" alt="logo" class="logo" > 
        <input type="text" placeholder="Busqueda" class="buscador">
      </div>  
  
      <nav>
          <ul>
              <li><a href="#">QUIENES SOMOS</a></li>
              <li><a href="#">UNIDADES PRODUCTIVAS</a>
               <ul>
                <li><a href="#">Número 1</a></li>
                <li><a href="#">Número 2</a></li>
                <li><a href="#">Número 3</a></li>
                <li><a href="#">Número 4</a></li>
                <li><a href="#">Número 5</a></li>
               </ul>
              </li>
              <li><a href="/views/index.ejs">PRODUCTOS</a>
                  <ul>
                      <li>PRODUCTOS DISPONIBLES</li>
                  </ul>
              </li>
              <li><a href="#">COMPRAS</a>
                  <ul>
                      <li>COMPRAR</li>
                      <li>HISTORIAL</li>
                  </ul>
              </li>
              <li><a href="menu_principal.ejs">INICIO</a></li>
          </ul>
      </nav>

    <!-- Logos de redes sociales -->
    <a href="https://www.facebook.com/SENA"><img src="img/768px-Facebook_f_logo_(2019).svg.png" alt="" class="iconos"></a><br><br><br>
    <a href="https://www.twitter.com/SENAComunica"><img src="img/twitter-logo-3.png" alt="" class="iconos"></a><br><br><br>
    <a href="https://www.instagram.com/senacomunica/?hl=es-la"><img src="img/festivalclaca.cat-logo-instagram-png-transparent-540653.png" alt="" class="iconos"></a><br><br><br>
    <a href="https://www.youtube.com/c/SENATVColombia"><img src="img/1200px-YouTube_social_white_squircle.svg.png" alt="" class="iconos"></a>


    <div class="content-main">
        <h1 class="promo"> UNIDADES PRODUCTIVAS</h1><br>
        <div class="content-1"><br>
            <h2>UNIDAD PRODUCTIVA (--)</h2><br>
            <img src="/img/Frutas-y-verduras-los-beneficios-a-la-salud-mental-102fc4x576.jpg" alt="" class="unidades" >
            <p class="mision">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto tenetur asperiores cupiditate provident voluptatibus non amet magni iure at, minus minima labore aliquid. 
                Ad fuga, facere sed dolores laboriosam ipsam!</p> 
        </div>
        <div class="content-2"><br>
            <h2>UNIDAD PRODUCTIVA (--)</h2><br>
            <img src="/img/Frutas-y-verduras-los-beneficios-a-la-salud-mental-102fc4x576.jpg" alt="" class="unidades">
            <p class="mision">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ea similique esse sint ad amet autem quaerat explicabo! Hic, ullam ipsa? Aliquam unde quasi veniam 
                similique quidem. Qui, alias. Architecto.
            </p>
        </div>
        <div class="content-3"><br>
             <h2>UNIDAD PRODUCTIVA (--)</h2><br>
             <img src="/img/Frutas-y-verduras-los-beneficios-a-la-salud-mental-102fc4x576.jpg"  alt="" class="unidades">
             <p class="mision">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ea similique esse sint ad amet autem quaerat explicabo! Hic, ullam ipsa? Aliquam unde quasi veniam 
                similique quidem. Qui, alias. Architecto.</p>
        </div>
    </div>
    <div class="content-main">
        <div class="content-1"><br>
            <h2>UNIDAD PRODUCTIVA (--)</h2><br>
            <img src="/img/Frutas-y-verduras-los-beneficios-a-la-salud-mental-102fc4x576.jpg"  alt="" class="unidades">
            <p class="mision">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto tenetur asperiores cupiditate provident voluptatibus non amet magni iure at, minus minima labore aliquid. 
                Ad fuga, facere sed dolores laboriosam ipsam!</p> 
        </div>
        <div class="content-2"><br>
            <h2>UNIDAD PRODUCTIVA (--)</h2><br>
            <img src="/img/Frutas-y-verduras-los-beneficios-a-la-salud-mental-102fc4x576.jpg"  alt="" class="unidades">
            <p class="mision">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ea similique esse sint ad amet autem quaerat explicabo! Hic, ullam ipsa? Aliquam unde quasi veniam 
                similique quidem. Qui, alias. Architecto.
            </p>
        </div>
        <div class="content-4"><br>
            <h2>UNIDAD PRODUCTIVA (--)</h2><br>
            <img src="/img/Frutas-y-verduras-los-beneficios-a-la-salud-mental-102fc4x576.jpg"  alt="" class="unidades">
            <p class="mision">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ea similique esse sint ad amet autem quaerat explicabo! Hic, ullam ipsa? Aliquam unde quasi veniam 
                similique quidem. Qui, alias. Architecto.</p>
        </div>
    </div>

    <footer>
        <img src="../img/1200px-Sena_Colombia_logo.svg.png" alt="" class="logo_sena">
       
        <div class="ensayo2">
            <p class="col-1">©Copyright</p><br>
            <p>YEINERY DANIELA MACHADO SOTELO</p><br>
            <p>2021</p>
        </div>
    </footer>
</body>
</html>